body {
    width: 200px;
    padding: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
}
h2 {
    font-size: 16px;
}
#title {
    font-size: 18px;
    margin-bottom: 10px;
}
button {
    background-color: #0073e6;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
}
button:hover {
    background-color: #005bb8;
}